// 
// SUPER MEGA BORDER HACK™
//
.goldenFrame {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: #eaca80 solid 1rem;
}

.topNav {
//	 margin-top: 30px;
	padding-bottom: 80px;

	.logo {
		width: 60px;
	}
}

.projects {
	> header {
		@include flex-grid-row();
		margin-bottom: 6rem;
	}

	.work {
		@include flex-grid-row();
		padding-bottom: 2rem;
	}
}	

.footer {
	// Foundation class for equal columns
	@include flex-grid-row();
	@include flex-grid-layout(1);
	border-top: 3px solid #eaca80;
	padding-top: 30px;
	padding-bottom: 70px;

	@include breakpoint(small only) {
		text-align: center;
	}

	@include breakpoint(medium up) {
		@include flex-grid-layout(4);
	}

	.column {
		@include breakpoint(small only) {
			margin: 1rem 0;
		}
	}

	.logo {
		width: 3rem;
	}
}