html {
  background-color: #eaca80;
}
body {
    margin: 15px;
    background-color: #fff;
}

a {
    color: #eaca80;
    font-weight: bold;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.container {
    background-color: #fff;
}

.footerborder {
    background-color: #eaca80;
    width: 100%;
    position: fixed;
    height: 15px;
    padding: 0;
    margin: 0;
    bottom: 0;
}

.bodytitle {
    margin-bottom: 60px;
}

.header {
    margin-top: 30px;
    margin-bottom: 60px;
}



.headerinfo {
    text-align: right;
}

.headerleft {
    width: 50%;
}

.headerleft img {
    width: 60px;
}

.headerright {
    width: 50%;
}

.maintitle {
    font-size: 55px;
    line-height: 1.2em;
    font-weight: bold;
    padding-bottom: 80px;
}

.work {
    padding-bottom: 30px;
    background-color: #fff;
}

.work img {
    width: 100%;
    border: 1px solid #ccc;
}

.footer {
  border-top: 3px solid #eaca80;
  padding-top: 30px;
  padding-bottom: 70px;
}

.footer img {
  width: 40px;
}


@media (max-width: 991px) {
  .headerleft, .headerright {
    width: 100%;
  }
  }

  @media (max-width: 800px) {
  .maintitle {
    font-size: 40px;
  }
  
  }