extends /_layouts/default.pug

block title
  title Ox Collective

block content
      section.projects
        h1 Ox is a nimble design collective based in Berlin focused on product, branding and interface design.

        .work
          .col-sm-12
            img(src='works/TF-03.jpg')

        .work
          .col-sm-12
            img(src='works/TF-04.jpg')

        .work
          .col-sm-6
            img(src='works/TF-01.jpg')
          .col-sm-6
            img(src='works/TF-02.jpg')

        .work
          .col-sm-12
            img(src='works/FP-03.jpg')

        .work
          .col-sm-6
            img(src='works/FP-02.jpg')
          .col-sm-6
            img(src='works/FP-04.jpg')

        .work
          .col-sm-12
            img(src='works/FP-01.jpg')

        .work
          .col-sm-12
            img(src='works/GreenMarine-01.jpg')

        .work
          .col-sm-12
            img(src='works/GreenMarine-02.jpg')

        .work
          .col-sm-12
            img(src='works/WorldStar-01.jpg')

        .work
          .col-sm-12
            img(src='works/mr01.png')

        .work
          .col-sm-12
            img(src='works/mr02.png')

        .work
          .col-sm-12
            img(src='works/esjustofa-detail1.png')

        .work
          .col-sm-12
            img(src='works/esjustofa-detail2.png')

        .work
          .col-sm-12
            img(src='works/New02.png')

        .work
          .col-sm-12
            img(src='works/New03.png')

        .work
          .col-sm-12
            img(src='works/New04.png')

        .work
          .col-sm-12
            img(src='works/SR-01.jpg')

