extends /_layouts/default.pug

block title
  title Ox Collective

block content
      section.projects
        header
          .small-12.columns
            h1 Ox is a nimble design collective based in Berlin focused on product, branding and interface design.

        .work
          .small-12.columns
            img(src= baseDir + '/images/works/TF-03.jpg')

        .work
          .small-12.columns
            img(src= baseDir + '/images/works/TF-04.jpg')

        .work
          .small-6.columns
            img(src= baseDir + '/images/works/TF-01.jpg')
          .small-6.columns
            img(src= baseDir + '/images/works/TF-02.jpg')

        .work
          .small-12.columns
            img(src= baseDir + '/images/works/FP-03.jpg')

        .work
          .small-6.columns
            img(src= baseDir + '/images/works/FP-02.jpg')
          .small-6.columns
            img(src= baseDir + '/images/works/FP-04.jpg')

        .work
          .small-12.columns
            img(src= baseDir + '/images/works/FP-01.jpg')

        .work
          .small-12.columns
            img(src= baseDir + '/images/works/GreenMarine-01.jpg')

        .work
          .small-12.columns
            img(src= baseDir + '/images/works/GreenMarine-02.jpg')

        .work
          .small-12.columns
            img(src= baseDir + '/images/works/WorldStar-01.jpg')

        .work
          .small-12.columns
            img(src= baseDir + '/images/works/mr01.png')

        .work
          .small-12.columns
            img(src= baseDir + '/images/works/mr02.png')

        .work
          .small-12.columns
            img(src= baseDir + '/images/works/esjustofa-detail1.png')

        .work
          .small-12.columns
            img(src= baseDir + '/images/works/esjustofa-detail2.png')

        .work
          .small-12.columns
            img(src= baseDir + '/images/works/New02.png')

        .work
          .small-12.columns
            img(src= baseDir + '/images/works/New03.png')

        .work
          .small-12.columns
            img(src= baseDir + '/images/works/New04.png')

        .work
          .small-12.columns
            img(src= baseDir + '/images/works/SR-01.jpg')

