// Footer
footer.footer
  .column
    img(src='images/oxbox-black.svg').logo

  .column
    | Oranienstrasse 6
    br
    | 10997 Kreuzberg
    br
    | Berlin, Germany

  .column
    | Available for work
    br
    | Contact us:
    br
    a(href='mailto:hello@oxcollective.com') hello@oxcollective.com

  .column
    a(href='./impressum') Impressum