// Footer
.container
  footer.row.footer
    .col-sm-2
      img(src='/images/oxbox-black.svg')

    .col-sm-4
      | Oranienstrasse 6
      br
      | 10997 Kreuzberg
      br
      | Berlin, Germany

    .col-sm-4
      | Available for work
      br
      | Contact us:
      br
      a(href='mailto:hello@oxcollective.com') hello@oxcollective.com

    .col-sm-2
      a(href='./impressum') Impressum


.footerborder