header.topNav.row
	.col-sm-2
		a(href='/')
			img(src='/images/ox-box.png', title='Ox Collective').logo

	.col-sm-10.text-right
		| Available for work 
		br
		a(href='mailto:hello@oxcollective.com', title='Write Us') hello@oxcollective.com