.goldenFrame
header.topNav
	.logo
		a(href='/')
			img(src='images/ox-box.png', title='Ox Collective')

	.availability
		| Available for work 
		br
		a(href='mailto:hello@oxcollective.com', title='Write Us') hello@oxcollective.com