.goldenFrame
header.topNav.row
	.small-2.columns
		a(href='/')
			img(src='/images/ox-box.png', title='Ox Collective').logo

	.small-10.columns.text-right
		| Available for work 
		br
		a(href='mailto:hello@oxcollective.com', title='Write Us') hello@oxcollective.com