head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	block title
		title Ox Collective - Work in Progress
		
	meta(name='description', content='')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	// build:base
	//- base(href="http://localhost:9000/")
	// endbuild
	link(rel='stylesheet', href='styles/style.css')